@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 26em;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #6c757d;
  max-width: 26em;
  margin: 0 auto 7.2em;
  padding: 3.2em;
  text-align: center;
  box-shadow: 0 0 1.4em 0 rgba(0, 0, 0, 0.2), 0 0.35em 0.35em 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 1em;
  padding: 1em;
  box-sizing: border-box;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 1em;
  margin: 0 0 1em;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.facebook-button {
  background: #4267b2;
}
.facebook-button:hover,.facebook-button:active {
  background: #375695;
}
.normal-button {
  background: #4CAF50;
}
.normal-button:hover,.normal-button:active {
  background: #43A047;
}
.form .message {
  margin: 0;
  color: white;
  font-size: 0.85em;
}
.form .message a {
  color: rgb(159, 235, 161);
  text-decoration: none;
  font-weight: bold;
}
.form .error-message {
  font-weight: bold;
  color: #ff0000;
}
body {
  background: #343a40;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}